.dots{
	position: absolute;
	top: 5%;
	left: 3%;
	display: flex;
}

.dot {
	width: 25px;
	height: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	margin: 3px;
	cursor: pointer;
	transition: all .2s ease-in-out; 
}

.dot:hover {
	transform: scale(1.2); 
}

.currentColor {
  border: 1px solid black;
}

.currentColor:hover {
	transform: none;
}