.circleContainer {
	display: flex;
	justify-content: space-around;
}


.projectItem {
	height: 300px;
	width: 300px;
	margin: 0 auto;
	text-align: center;
}

.projectCircle {
	height: 200px;
	width: 200px;
	background-color: #fff;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	border-radius: 200px;	
	margin: 25px;
	border: 2px solid #fff;
	cursor: pointer;
	transition: all .2s ease-in-out; 
}

.projectCircle:hover {
	transform: scale(1.1); 
}

.projectsTitle{
	font-family: 'Six Caps', sans-serif;
	color: #fff;
	font-size: 35px;
	text-decoration-line: underline;
	padding-top: 20px;
	margin-bottom: 40px;
}

.projectName{
	font-family: 'Alata', sans-serif;
	color: #fff;
}

.circle1 {
	background-color: #d9d8c8;
}

.circle3{
	background-color: #edeef0;
	border: 1px solid #edeef0;
}

button {
	background-color: transparent;
	border: none;
	outline:none;
	cursor: poiner
}

/* xs 768 and under */
@media (max-width: 767px) {
	.circleContainer{
		flex-direction: column;
	}
}

/* sm 768-991 */
@media (min-width: 768px){
	.circleContainer{
		flex-direction: row;
	}

}