.bio {
	text-align: justify;
	line-height: 1.5em;
}

.bio p {
	margin-bottom: 30px;
}

.imgLink{
	cursor: pointer;
}



a.imgLink:link, a.imgLink:visited, a.imgLink:active {
	color: #3f444b;
  text-decoration: none;
  margin-left: 8px;
}

a.imgLink:hover {
	text-decoration: none;
}



/* xs 768 and under */
@media (max-width: 767px) {
	.bio {
		padding: 145px 80px 50px 80px;
	}
	
}

/* sm 768-991 */
@media (min-width: 768px){
	.bio {
		padding: 100px 80px 50px 80px;
		text-align: justify;
		line-height: 1.5em;
	}

}