

img {
	height: 200px;
	width: 200px;
}

p.myName {
	font-family: 'Six Caps', sans-serif;
}


.jobTitle {
	font-size: 19.5px;
	font-family: 'Lekton', sans-serif;
}

.fact {
	font-size: 19.5px;
	font-family: 'Alata', sans-serif;
}



/* xs 768 and under */
@media (max-width: 767px) {
	.myName {
		font-size: 84px;
		text-align: center;
		margin-bottom: 10px;
	}

	.LogoCircle {
		width: 200px;
		height: 200px;
	}

	.fact {
	padding: 20px;
	}
	
}

/* sm 768-991 */
@media (min-width: 768px){
	.myName {
	position: absolute;
	right: 10%;
	top: 57px;
	font-size: 100px;
	}

	
	.LogoCircle {
		position: absolute;
		left: 10%;
		top: 75px;
		width: 200px;
		height: 200px;
		background: #fff;
		-moz-border-radius: 1000px;
		-webkit-border-radius: 1000px;
		border-radius: 1000px;
		border: 2px solid #3f444b;
	}

	.jobTitle {
		top: 185px;
		position: absolute;
		right: 10%;
	}

	.fact {
		position: absolute;
		top: 200px;
		padding:75px;
		left: 30%;
	}

}



