* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
	font-family: 'Six Caps', sans-serif;
	font-family: 'Lekton', sans-serif;
	color: #3f444b
}

#root {
	height: 100%;
}

.container {
	height: 100%;
}

.topDiv{
	height: 180px;
	width: 100%;
	border-bottom: 2px solid #3f444b;
	position: relative;
}

